body {
    font-family: Arial, Helvetica, sans-serif;
}

.task-grid, .task-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.task-input-grid {
    margin-bottom: 10px;
    align-items: stretch;
}

.task-input, .date-input {
    font-size: 15px;
    padding: 6px;
}

.add-button, .delete-button {
    color: white;
    background-color: green;
    border: 0;
    cursor: pointer;
    font-size: 15px;
}

.delete-button {
    background-color: darkred;
    padding: 10px 0px;
}